html {
  position: relative;
  /* min-height: 100%; */
  min-height: 100%;
}
body {
  text-align:left;
  margin: 0;
   display: flex;
   flex-flow: column;
   /* min-height: 100%; */
   height: 100%;
   padding-bottom:70px;
   box-sizing: border-box;
   
}
/* ここから */
header {
  height:50px;
  background-color: #2B2B2B;
  font-size:1rem;
}
