
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Achieve</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sample.css">
   </head>

  <body>
    <h2>Original Message</h2>
    <p>内容： <%=@post.content%></p>
    <%= link_to "メッセージ一覧画面にもどる", posts_path %>
  </body>
</html>