html {
  position: relative;
  min-height: 100%;
}

header {
  position: fixed;
  width: 100%;
  height: 10%;
  left: 0;
  top: 0;
  background-color: skyblue;
  color: white;
  text-align: center;
}
body

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 20%;
  background-color: steelblue;
  color: white;
  text-align: center;
  }
