html {
  position: relative;
  /* min-height: 100%; */
  min-height: 100%;
}
body {
  text-align:left;
  margin: 0;
   display: flex;
   flex-flow: column;
   /* min-height: 100%; */
   height: 100%;
   padding-bottom:70px;
   box-sizing: border-box;
   
}

header {
  position: fixed;
  width: 100%;
  height: 18%;
  left: 0;
  top: 0;
  background-color: skyblue;
  color: white;
  text-align: center;
}
footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
      height: 5%;
background-color: steelblue;
color: white;
text-align: center;
}
